@model Intravision_task.DTO.CoinDTO

@{
    ViewData["Title"] = "Edit coin";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" >
    <div class="mb-2">
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Value" class="control-label"></label>
            <input asp-for="Value" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label"></label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="form-group ">
            <input asp-for="IsBlocked" class="form-check-input" id="IsBlocked" />
            <label class="form-check-label" asp-for="IsBlocked">Blocked</label>
        </div>
    </div>
    <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Coins">Back to list</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

