@{
    ViewData["Title"] = "Task page";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">ООО «Интравижн»</h1>
            <p>info@intravision.ru, <a href="http://www.intravision.ru">www.intravision.ru</a></p>
            <p>8 (495) 795-23-44</p>
            <p>Россия, Москва, пр-т Андропова, д.22, офис 1802</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h2 class="mb-4">ТЕСТОВОЕ ЗАДАНИЕ НА ВАКАНСИЮ WEB разработчика</h2>
            <h3>Введение</h3>
            <p>Основная цель данного задания это понять «подход» кандидата к разработке и его желание и возможности самостоятельно разбираться в новых технологиях, добиваться поставленных целей. Мы предполагаем, что кандидат имеет от одного года опыта программирования и имеет базовые знания web технологий.</p>
            <h3>Задание на разработку Web приложения «Автомат по продаже напитков»</h3>
            <h4>Описание</h4>
            <p>Веб-приложение имитирует работу автомата по продаже напитков. Напитки представлены названием, картинкой и стоимостью. Автомат принимает монеты номиналом в 1, 2, 5, 10 рублей. Предоставляет возможность купить напитки, внеся сумму, равную или превышающую их стоимость. Приложение должно иметь пользовательский и административный интерфейс.</p>
            <h4>Возможности пользовательского интерфейса</h4>
            <ul>
                <li>Вносить сумму, щелкая на кнопки с номиналом монет (1, 2, 5, 10). Если монета заблокирована, подсвечивать соответствующую кнопку и блокировать нажатие. Показывать внесенную сумму.</li>
                <li>Выбирать напиток, щелкнув на соответствующую картинку. При этом не позволять выбирать закончившиеся напитки или напитки, стоимость которых превышает внесенную сумму. После выбора напитка количество оставшихся напитков должно уменьшиться на единицу, количество монет в автомате увеличиться, оставшаяся сумма должна быть возвращена в виде сдачи. В качестве сдачи могут выдаваться заблокированные монеты.</li>
            </ul>
            <h4>Возможности административного интерфейса</h4>
            <ul>
                <li>Администрировать ассортимент напитков: добавление, удаление напитков, изменение их количества, стоимости и изображения</li>
                <li>Управлять монетами в автомате: изменение количества монет, блокирование приема тех или иных монет</li>
                <li>Доступ в административный интерфейс по секретному ключу, который передаётся как параметр в адресной строке</li>
            </ul>
            <h4>Необязательные требования</h4>
            <ul>
                <li>Возможность импорта напитков</li>
                <li>Возможность покупки нескольких напитков перед получением сдачи</li>
            </ul>
            <h4>Требования</h4>
            <p>Необходимо создать Web приложение, с использованием:</p>
            <ul>
                <li>ASP.NET .core</li>
                <li>В качестве клиентского Framework можно использовать React или Vue.js. Можно использовать jquery. Можно и без использования framework (просто JavaScript)</li>
                <li>В качестве СУБД необходимо использовать MS SQL Express (2012, или выше. MS SQL Express – бесплатен, доступен для загрузки с сайта Microsoft). Поскольку работать придется в том числе с проектами, которые работают с PostgreSQL, то можно использовать и эту БД.</li>
            </ul>
            <p>Взаимодействие с базой данных реализовывать через подход «Code First».</p>
            <p>Приложение должно быть реализовано из двух страниц. Одна страница – это пользовательский интерфейс. Вторая страница – административный интерфейс.</p>
            <h4>Результаты</h4>
            <p>Результаты выслать в архиве. Имя архива “ФамилияИмя_ТестовоеЗадание.zip” Необходимо в архив с заданием также положить файл readme.txt с кратким описанием реализации проекта, указать какие из необязательных требований выполнены. Какие технологии использовались.</p>
            <p>Если есть вопросы по заданию, то не стесняйтесь – задавайте. Удачи вам в разработке!</p>
        </div>
    </div>
</div>
