@using Intravision_task.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Log In";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-3">
                            <label asp-for="Login" class="form-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input asp-for="RememberMe" class="form-check-input" />
                            <label class="form-check-label" asp-for="RememberMe">Remember me</label>
                        </div>
                        <input type="hidden" asp-for="ReturnUrl" /> 
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
