html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.underline-hover:hover {
    
    text-decoration: underline;
}



/* Machine/Index */
.coin-button {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 5px;
    background-color: #efc946;
    transition: all 0.3s ease-in;

}

.coin-button:hover:not([disabled]) {
    background-color: #fbe187;
}

.coin-button[disabled] {
    cursor: not-allowed;
}

img {
    max-width: 230px;
}


/* /Coins/Index */
.table td,
.table th {
    vertical-align: middle;
}

